<h1><%= @category.name %></h1>
  <%= link_to "Update", edit_category_path %>
  <%= link_to "Delete", category_path, method: :delete %></br></br>

<h4>Items</h2>
<%= form_for @category do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %></br>

  <%= f.submit "Create New Item" %>
<% end %>
