<h1><%= @category.name %></h1>
<%= link_to "Update", edit_category_path %>
<%= link_to "Delete", category_path, method: :delete %></br></br>

<h4>Items</h2>
<% @category.items.each do |item| %>
  <%= link_to item.name, item_path(id: item.id) %></br>
  <%= button_to 'Add to Cart', cart_items_path(item_id: item.id)  %></br></br>
  <%= link_to "Update", edit_item_path %>
  <%= link_to "Delete", item_path, method: :delete %></br></br>

  <%= button_to 'Add to Cart', cart_items_path(item_id: item.id)  %>
<% end %>

<h6>Add an Item</h6>
<%= form_for Item.new do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br />
  <%= f.hidden_field :category_id, value: @category.id %>


  <%= f.submit "Create New Item" %>
<% end %>

